h2{
color: #1d66a6
}

.cohort-list{
    background-color: #ad80cb78;
}
.list {
    /* text-decoration: underline; */
font-size: x-large;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #ebf1f2cb;
border-style: inset;
border-color: #09ba9a5a;
}


.cohort-list {
    width: 50%;
    height: 125vh;
    top: 5%;
    position: -webkit-sticky;
    position: sticky;
    /* background-image: url('https://i.pinimg.com/564x/50/bd/78/50bd787bedd65b9f74c2d60934786b16.jpg');  */
    
  
}
.cohort-list::before {    
    content: "";
    top: 5%;
    position: -webkit-sticky;
    position: sticky;
    background-image: url('https://i.pinimg.com/564x/50/bd/78/50bd787bedd65b9f74c2d60934786b16.jpg');
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}
.cohort-list {
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    width: 100%;
}