h2{
color: rgba(252, 252, 250, 0.657);
}

.cohort-list{
    background-color: rgba(173, 128, 203, 0.469);
}
.list {
    text-decoration: underline;
font-size: large;
font-family: Georgia, 'Times New Roman', Times, serif;
color: aliceblue;

}


