.student-gallery {
    border-style: groove;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #527b9a73;
    box-shadow: 1px 1px rgba(0, 145, 255, 0.617), -.1em 0 .4em rgb(0, 85, 128);
    color: #357a7a;

}
  
img {
    width: 190px;
    height: 180px;
  border: rgba(20, 143, 154, 0.436) 4px solid;
  }
  
  
  .showmore {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  .visited {
    text-decoration: underline;
    color: purple;
    cursor: pointer;
  }
   

  
  .list:hover {
    color: #9a5296;
    cursor: pointer;
  }