.student-gallery {
    border-style: groove;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #527b9a73;
    box-shadow: 1px 1px #0091ff9d, -.1em 0 .4em #005580;
    color: #341c7c76;

}
  
img {
    width: 190px;
    height: 180px;
  border: #148f9a6f 4px solid;
  }
  
  
  .showmore {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
  }
  
  .visited {
    text-decoration: underline;
    color: purple;
    cursor: pointer;
  }
   

  
  .list:hover {
    color: #9a5296;
    cursor: pointer;
  }