.header {
    text-align: center;
    background-image: url("https://images.theconversation.com/files/433499/original/file-20211123-17-199wbff.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=900.0&fit=crop");
    margin: 0%;
    font-size: xxx-large;
    padding: 3%;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px #3e6c7c;
  }
  
.student-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #e1d4e4f1;
    /* background-image: url('https://i.pinimg.com/564x/50/bd/78/50bd787bedd65b9f74c2d60934786b16.jpg'); */
    background-size: contain;
    font-size: larger;  
}

.total {
    font-size: x-large;

}